---
layout: archive
---

{{ content }}

<div class="entries-{{ page.entries_layout }}">
  <p>Soy Carlos Hernández y tengo 18 años.</p>
  <p>
    Actualmente curso el segundo semestre de Ingieníeria en Sistemas en la
    Universidad del Valle (Cali , Colombia).
  </p>
  <p>
    Me gusta el tema de la programación, la web y aprender un poco de todo, en
    este blog podrás encontrar información de todo tipo, desde tecnología hasta temas interesantes de lenguajes de programación en especifico, e incluso algunas experiencias propias o escritos que quiero compartir.
  </p>
</div>
